.Container{
    display: flex;
    /* background: rgb(35,24,116); */
    background: linear-gradient(180deg, rgb(69, 25, 99) 0%, rgba(46, 38, 121, 0.747) 100%); 
    /* 180deg, rgba(35,24,116,0.9) 0%, rgba(66,54,178,0.7) 100% */
    /* flex: content; */
    flex-direction: column;
    /* align-items: center; */
    height: 100%;
    width: 100%;
}
.Container-Header{
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 3%;
    font-family: sans-serif;
    font-size: 160%;
    color: #DCDAEF;
}
.Header_Photo{
    width: 110pt;
    height: 110pt;
    border-radius: 100%;
    margin-top: 2%;
    margin-right: 45%;
    margin-left: 45%;
    
}
.Header_Link{
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.Container-Body{
    display: flex;
    align-items: stretch;
}
.Container-Social{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin: 1%;
    justify-content: flex-end;
    
}
.Container-Cards{
    flex-grow: 20;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 7%;

    
}
.Container-phProyects{
    display: flex;
    margin: 10%;
    justify-content: space-evenly;
}
.Social-Icon{
    width: 20pt;
    height: 20pt;
    margin-bottom: 20pt;
}
.btn {
    background: #ededed;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 80%;
    opacity: 1;
    transition: opacity 300ms ease;
}
.touched {
    opacity: 0.5;
}
.Description{
    font-size: 150%;
    text-align: center;
    color: #DCDAEF;
    font-family: sans-serif;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 2%;
    
}
.TextProyect{
    font-size: 400%;
    text-align: center;
    margin-top: 30px;
    color: #DCDAEF;
    font-family: sans-serif;
}






