.Container{
    display: flex;
    background: rgb(35,24,116);
    background: linear-gradient(180deg, rgb(69, 25, 99) 0%, rgba(46, 38, 121, 0.747) 100%); 
    /* 180deg, rgba(35,24,116,0.9) 0%, rgba(66,54,178,0.7) 100% */
    flex: content;
    flex-direction: column;
    height: 100%;
}
.Header{
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 3%;
    font-family: sans-serif;
    font-size: 160%;
    color: #DCDAEF;
}
.Header_Photo{
    width: 150pt;
    height: 150pt;
    border-radius: 100%;
    margin-top: 2%;
}
.Header_Link{
    margin-right: 32%;
    margin-left: 32%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 80%;
    margin-top: 4%;
}
.Body{
    margin-right: 10%;
    margin-left: 10%;
}
.btn {
    background: #ededed;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 80%;
    opacity: 1;
    transition: opacity 300ms ease;
}
.touched {
    opacity: 0.5;
}







